GOOGLE_TYPE=
GOOGLE_PROJECT_ID=
GOOGLE_PRIVATE_KEY_ID=
GOOGLE_PRIVATE_KEY=
GOOGLE_CLIENT_EMAIL=
GOOGLE_CLIENT_ID=
GOOGLE_DRIVE_SCOPE=
GOOGLE_DRIVE_FOLDER_ID
PINECONE_API_KEY=
PINECONE_INDEX=
PINECONE_ENVIRONMENT=
MODEL_EMBEDDINGS=
OPENAI_API_KEY=
NAMEUSER=
PASSWORD=
ROLE=
JWT_SECRET=
JWT_EXPIRES_IN=
PORT=